h1
{
    text-align:center;
    font-family: Arial
}
h2
{
    text-align:center;
    font-family: Arial;
}
nav {
    background-color: cadetblue;
    height: 100vh;
    float: left;
}

ul {
    list-style-type: none;
    margin-inline: 0;
    padding: 0;
    display: inline-flex;
}

li a {
    background-color: white;
    padding: 1em 1.5em;
    display: block;
    margin: 5px;
    border-radius: 20px;
    text-transform: uppercase;
    text-decoration: none;
    display:inline;
}